<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    <add name="hydra_cms" connectionString="Server=ASHISH-PC\ARICS; Database=hydra_net; Integrated Security=True"/>
    <!--<add name="encyclo_engine" connectionString="Data Source=43.255.152.21; User ID=encycloengine; Initial Catalog=ee_db; Password='Arics@ee';"/>-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime maxRequestLength="2000000000" executionTimeout="999999" targetFramework="4.5" />

    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>

</configuration>